{% extends "base.html" %}

{% block title %}
Create Job | SmartHire
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Create New Job</h3>

        </div>

        <div class="card-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-success">

                    Create Job

                </button>

                <a
                    href="{% url 'recruiter-dashboard' %}"
                    class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}